body {
    --slider_color: #265902;
    --header-colo: #0d0d0d;
    --font-color: #333;
    --bg-color: #fcfcfc;
    --white-color: #fff;
    --font-noto: 'Noto Sans', sans-serif;
    --border-color: #c5c5c5;
    --red-color: #ff5252;
}


/* FOR MAIN CONTAINER */
.vgro_main_container {
    display: flex;

}


/* FOR LEFT SIDE GREEN CONTAINER */
.vgro_left_container {
    width: 200px;
    background-color: var(--slider_color);
    height: 100vh;

}

/* FOR LEFT SIDE GREEN CONTAINER LOGO */

.vgro_left_container .vgro_left_container_header_section {
    display: flex;
    align-items: center;

}

.vgro_left_container .vgro_left_container_header_section img {
    padding-top: 12px;
    padding-left: 12px;
    width: 100px;
}





/* ++++++++++++++++++++++++++++----------------------+++++++++++++++++++++++++++ */

/* FOR RIGHT SIDE CONTAINER */

.vgro_right_container {
    width: 100%;
    background-color: var(--bg-color);
    height: 100vh;
}

/* FOR RIGHT SIDE HEADER SECTION */
.vgro_right_container_header_section {
    width: 100%;
    background-color: var(--header-colo);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-right: 15px;
}

/* FOR USER IMAGE SECTION */
.vgro_user_image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

/* FOR USER IMAGE */
.vgro_user_image img {
    width: 35px;
}

/* FOR USER DROPDOWN BUTTON SECTION */
.dropdown .user_profile_button {
    text-decoration: none !important;
    color: var(--white-color);
    font-size: 14px;
    font-family: var(--font-noto);
}

.dropdown-menu li a,
span {
    color: var(--font-color);
}

.dropdown .dropdown-menu .logout {
    display: flex;
    align-items: center;
    padding: 6px;
}


/* FOR CONTENT CONTAINER */
.vgro_content_container {
    width: 95%;
    margin: auto !important;
    /* border: 1px solid #333;  */
}

/* FOR USER CREATE BUTTON SECTION */
.vgro_create_button_section {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;


}

/* FOR CREATE BUTTON */
.create_button {
    background-color: var(--slider_color);
    color: var(--bg-color);
    border: none !important;
    border-radius: 2px;
    padding: 10px 35px;
    outline: none !important;
}

/* FOR TABLE CONTAINER */
.vgro_content_user_table_section {
    display: flex;
    justify-content: center !important;

}

/* FOR TABLE CONTAINER */
.vgro_table_container {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px #333);

}

/* FOR USER MODAL FORM */

.vgro_create_user_form_section {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 35px;
    flex-direction: column;
}

/* FOR USER LABEL SECTION  */
.vgro_create_user_form_section label {
    font-family: var(--font-noto);
    color: var(--font-color);
}

/* FOR USER INPUT SECTION */
.vgro_create_user_form_section input,
textarea {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: 2px;
    outline: none !important;
}

/* FOR FORM NAME SECTION */
.vgro_name_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FOR EMAIL SECTION */
.vgro_email_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FOR USER PHONE NUMBER */
.vgro_phone_number_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FOR ADDRESS SECTION */
.vgro_address_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FOR TABLE SECTION */
.vgro_table_section {
    padding: 10px;
}

.user_image_show_case {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 50%;
    overflow: hidden !important;

}

.table_action_button_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bg_dis {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;

}

.user_image_show_case img {
    width: 50px;
}

.table_content_text {
    vertical-align: middle;
}

.table_view_button span {
    color: var(--font-color);
}

.table_edit_button span {
    color: var(--slider_color);

}

.table_delete_button span {
    color: var(--red-color);
}

.modal-backdrop {
    position: static !important;
}

.User_Name_List {
    display: flex !important;
    align-items: center;
    gap: 15px;
}

.User_Name_List input {
    border: none !important;
    outline: none !important;
    font-weight: bold !important;
    background-color: transparent !important;
}